<table class="ui fixed single line celled table">
  <thead>
  <tr>
    <th class="two wide">Sent By:</th>
    <th class="eleven wide">Tweeted:</th>
    <th class="three wide center aligned">Time:</th>
  </tr>
  </thead>
  <tbody>
  {{#each tweets}}
    <tr>
      <td class="">
        {{#if user.avatar}}
          <a href="/timeline/{{ user._id }}">
            <img class="ui avatar image" src="/getavatar/{{user._id}}" onerror="this.src='images/sys-avatar.png'">
            <span>{{ user.firstName }}</span>
          </a>
        {{else}}
        <a href="/timeline/{{ user._id }}">
          <img class="ui avatar image" src="#">
          <span>{{ user.firstName }}</span></a>
        {{/if}}

      </td>
      <td>
        {{#if picture.data}}
          <img class="ui medium image" src="/getpicture/{{_id}}"><br>
        {{/if}}
        {{content}}
      </td>
      <td class="center aligned"> {{shortDate date}} </td>
    </tr>
  {{/each}}
  </tbody>
</table>